@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    gap: 0;
    text-decoration: none;
}

body {
    background-color: #D99E6A;
}

p {
    font-family: 'Spectral', serif;
}

a {
    color: #b83434;
    transition: 0.25s;
}

a:hover {
    color: #e6434377;
}

.container {
    border-radius: 10px;
    background-color: #f2c691a8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.container .title-container {
    text-shadow: 0px 0px 10px #00000055;
    display: inline;
    padding: 30px;
    font-family: 'MedievalSharp', cursive;
    font-size: 85px;
    font-weight: 100;
}

.hero {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.hero .hero-left {
    display: flex;
    margin: 0 15px 0;
    flex-direction: column;
    width: 69.5%;
}

.hero-left .phrase-bdiv {
    margin-bottom: 15px;
}

.hero-left .phrase-bdiv h3 {
    padding: 10px;
    line-height: 35px;
    font-size: 30px;
    font-weight: 300;
}

.hero-left .phrase-bdiv p {
    font-family: 'Satisfy', cursive;
    margin: 5px 20px;
    font-size: 18px;
    text-align: right;
    line-height: 20px;
    font-weight: 800;
}

.hero-left .content {
    margin-top: 30px;
    font-size: 25px;
    line-height: 35px;
}

.hero-left .content p {
    margin-bottom: 15px;
}

.custom-quotes::before {
    content: "\201C";
    font-size: 50px;
    color: #d85353;
}

.custom-quotes::after {
    content: "\201D";
    font-size: 50px;
    color: #d85353;
}

.hero .hero-right {
    margin: 0 15px auto;
    border-radius: 10px;
    outline: none;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    width: 29.4%;
}


.hero-right .title-hero {
    font-family: 'MedievalSharp', cursive;
    border-radius: 10px 10px 0 0;
    background-color: #D99E6A;
    text-shadow: 0px 0px 10px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.hero-right .title-hero h2 {
    background-color: #D99E6A;
    font-size: 40px;
    color: #ffffff;
}

.hero-right .img-hero {
    height: 435px;
    background: url('../imgs/bdiv-img-2.jpg');
    background-size: cover;
    background-position: center;
}

.characteristics .content {
    font-size: 20px;
    width: 70%;
}

.characteristics .title {
    font-size: 20px;
    font-weight: 600;
}

.characteristics ul {
    list-style: none;
}

.characteristics .characteristics-card {
    border-top: 2px solid black;
    display: flex;
    padding: 10px;
    align-items: start;
    justify-content: space-between;
}


#origin i {
    display: inline-block;
}

#friends,
#powers {
    min-width: 18%;
    max-width: 18%;
}

.container .content-nav {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid black;
    margin: 30px 0 30px;
    padding: 20px;
    justify-content: center;
    width: 40%;
}

.container .content-nav h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.container .content-nav ol {
    counter-reset: item
}

.container .content-nav li {
    font-size: 22px;
    display: block
}

.container .content-nav li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

.content-nav .linha {
    border: 1px solid black;
    margin-bottom: 20px;
}

.content-nav .list-content .list-nav {
    margin-left: 10px;
}

.content-nav .list-content a {
    color: black;
}

.content-nav .list-content li {
    border-radius: 8px;
    padding: 10px;
    transition: 0.25s;
}

.content-nav .list-content li:hover {
    border-radius: 8px;
    background-color: #D99E6A;
    color: #e6434377;
}

.body-layout {
    margin-top: 20px;
    align-items: stretch;
}

.body-layout .layout {
    display: flex;
    margin: 0 15px 0;
    flex-direction: column;
    width: 100%;
}

.layout .layout-title h2 {
    padding: 10px;
    font-family: 'MedievalSharp', cursive;
    font-size: 45px;
    font-weight: bold;
}

.body-layout .linha-layout {
    border: 1px solid black;
    border-radius: 50px;
    margin: 5px 20px;   
}

.body-layout .layout-content p {
    margin-top: 30px;
    font-size: 25px;
    line-height: 35px;
}

.body-layout .layout-subtitle {
    padding: 10px;
    margin: 15px 0 -5px -10px;
    font-family: 'MedievalSharp', cursive;
    font-size: 20px;
    font-weight: bold;
}